<div class="footer">
    <div class="footcontainer">
        <div class="icons">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="www.google.com"><i class="fa-brands fa-google"></i></a>
            <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a>
            <a href="www.twittor.com"><i class="fa-brands fa-twittor"></i></a>
        </div>
        <div class="footnav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="tutorial.html">tutorial</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <div class="copy">
            <p>Copyright &copy; 2024 Designed by <span class="designer">Tenyson</span> </p>
        </div>
    </div>
</div>